

CLLIENT_GATEWAY_PORT=3000

STRIPE_SECRET=some_stripe_secret

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancelled
STRIPE_ENDPOINT_SECRET=some_stripe_endpoint_secret

DATABASE_URL=some_mongo_uri

JWT_SECRET=your_jwt_secret_key